body { padding-top:30px; }
.form-control { margin-bottom: 10px; }

label .file_photo{
  color: white;
  background-color: red;
  padding: 6px;
  border-radius: 12px;
}

label .file_photo2{
  color: white;
  background-color: red;
  padding: 6px;
  border-radius: 12px;
}

label .file_photo3{
  color: white;
  background-color: red;
  padding: 6px;
  border-radius: 12px;
}


